*,
*::after,
*::before {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Spartan", sans-serif;
  font-size: 62.5%;
}

body {
  background-color: hsl(180deg, 52%, 96%);
}

header {
  width: 100%;
  background-color: hsl(180deg, 29%, 50%);
  margin-bottom: 5rem;
}
header svg {
  width: 100%;
}

.filters-section {
  transform: translateY(-7rem);
  margin: 0 auto;
  margin-bottom: 4rem;
  justify-content: space-between;
  align-items: center;
  padding: 4rem;
  background-color: white;
  width: 80%;
}
.filters-section .filters {
  display: flex;
  flex-wrap: wrap;
  gap: 3rem;
}
.filters-section .filters .filter {
  display: flex;
  align-items: center;
}
.filters-section .filters .filter .filter-name {
  background-color: hsl(180deg, 31%, 95%);
  padding: 0.7rem;
  color: hsl(180deg, 29%, 50%);
  font-size: clamp(1rem, 0.9vw, 2rem);
  font-weight: 700;
}
.filters-section .filters .filter .filter-close {
  padding: 0.7rem;
  background-color: hsl(180deg, 29%, 50%);
  cursor: pointer;
  fill: white;
}
.filters-section .filters .filter .filter-close:hover {
  background-color: black;
}
.filters-section .clear {
  font-size: clamp(1rem, 1vw, 3rem);
  cursor: pointer;
}
.filters-section .clear:hover {
  text-decoration: underline;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 4rem;
}
main article {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  background-color: white;
  gap: 2rem;
  padding: 4rem;
  width: 80%;
  box-shadow: 0px 2px 10px hsl(180deg, 8%, 52%);
  border-left: 0.5rem solid transparent;
  position: relative;
}
main article:last-of-type {
  margin-bottom: 4rem;
}
main article:hover {
  border-left: 0.5rem solid hsl(180deg, 29%, 50%);
  border-top-left-radius: 1rem;
  border-bottom-left-radius: 1rem;
}
main article .section__left {
  display: flex;
  gap: 2rem;
  flex-grow: 1;
}
@media (max-width: 600px) {
  main article .section__left {
    padding-bottom: 2rem;
    border-bottom: 1px gray solid;
  }
}
main article .section__left__image {
  height: 100%;
}
@media (max-width: 600px) {
  main article .section__left__image {
    position: absolute;
    height: 6.5rem;
    top: -3rem;
  }
}
main article .section__left__text {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  gap: 1.5rem;
}
main article .section__left__text__top {
  display: flex;
  align-items: center;
  gap: 1rem;
  flex-wrap: wrap;
}
main article .section__left__text__top span {
  font-weight: 700;
  font-size: clamp(1rem, 0.7vw, 2rem);
}
main article .section__left__text__top .company-name {
  color: hsl(180deg, 29%, 50%);
}
main article .section__left__text__top .new {
  color: white;
  padding: 1rem;
  border-radius: 1rem;
  background-color: hsl(180deg, 29%, 50%);
}
main article .section__left__text__top .featured {
  padding: 1rem;
  color: white;
  border-radius: 1rem;
  background-color: black;
}
main article .section__left__text__middle span {
  font-weight: 700;
  font-size: clamp(1rem, 2vw, 3rem);
  cursor: pointer;
}
main article .section__left__text__middle span:hover {
  color: hsl(180deg, 29%, 50%);
}
main article .section__left__text__bot {
  display: flex;
  gap: 2rem;
  flex-wrap: wrap;
}
main article .section__left__text__bot span {
  color: hsl(180deg, 8%, 52%);
  font-size: clamp(1rem, 0.9vw, 2rem);
}
main article .section__left__text__bot .span-bullet-point {
  display: list-item;
  list-style-type: disc;
  list-style-position: inside;
}
main article .section__right {
  display: flex;
  align-items: center;
}
main article .section__right ul {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
}
main article .section__right ul li {
  background-color: hsl(180deg, 31%, 95%);
  padding: 1rem;
  color: hsl(180deg, 29%, 50%);
  font-size: clamp(1rem, 1vw, 2rem);
  font-weight: 700;
  cursor: pointer;
}
main article .section__right ul li:hover {
  color: white;
  background-color: hsl(180deg, 29%, 50%);
}/*# sourceMappingURL=index.css.map */